.calendar {
    float: left;
    border-radius: 10px;
    width: 150px;
    margin: 5px;
}

.calendar ul{
    list-style: none;
}

.calendar li {
    padding:8px;
}

#date {
    font-weight: bold;
    background-color: rgb(7, 79, 78);
    text-align: right;
    color: white; 
}

#bands {
    width: 250px;
    text-align: left;
    background-color: rgb(221, 200, 11);
}

.image {
    float:left;
    margin: 5px;
    border-radius: 10px;
    display: block;
}

.banner {
    display: block;
    box-sizing: border-box;
}

#header{
    font-size: 50px;
    color: rgb(250, 88, 0);
    background-color: rgb(146, 100, 70);
    border-radius: 10px;
    text-align: center;
    width: 950px;
}

.emphasize {
    font-style: italic;
}

.lorem {
    text-align: left;
    display: block;
    width:400px;
    padding: 10px;
    font-weight: bolder;
    color: #311b89;
    background-color: rgb(218, 206, 230);
    border-radius: 10px;
    font-size: 21px;
}

body {
    background-color: rgb(249, 244, 224);
}