.calendar {
    float: left;
    border: 1px black solid; 
    width: 150px;
    margin: 5px;
}

.calendar ul{
    list-style: none;
}

.calendar li {
    padding:8px;
}

#date {
    font-weight: bold;
    background-color: paleturquoise;
}

#bands {
    width: 250px;
}

.image {
    float:left;
    margin: 5px;
}